{% extends 'base.html' %}

{% block title %}
INFORMAÇÃO DO USUÁRIO
{% endblock title %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <div class="card-title"><b>            
            DADOS DO USUÁRIO </b>       
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title"><b>NOME:</b> {{usuario.nome}}</h5><br>
        <h5 class="card-title"><b>DATA DE NASCIMENTO:</b> {{usuario.data_nascimento}}</h5></td><br>
        <h5 class="card-title"><b>LOGIN: </b>{{usuario.login}}</h5><br>
        <h5 class="card-title"><b>SENHA:</b> {{usuario.senha}}</h5><br>    
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-left" onclick="window.print();">
            <i class="fa fa-print">  IMPRIMIR</i>
        </button>
    </div>
</div>

{% endblock %}